{% extends 'base.html' %}

{% block content %}
<div style="direction: rtl;" class="wrapper">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="card card-danger">
            <div class="card-header">
                <h3 class="card-title">Delete Revenue</h3> <!-- Delete Revenue -->
            </div>
            <!-- /.card-header -->

            <!-- Form start -->
            <form method="POST">
                {% csrf_token %}
                
                <div class="card-body">
                    <p><strong>Revenue Type:</strong> {{ revenue.revenue_type }}</p>
                    <p><strong>Amount:</strong> {{ revenue.amount }}</p>
                    <p><strong>Date:</strong> {{ revenue.date }}</p>
                    <p><strong>Description:</strong> {{ revenue.description }}</p>
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                    <button type="submit" class="btn btn-danger">Yes, Delete</button> <!-- Yes, Delete -->
                    <a href="{% url 'revenue_list' %}" class="btn btn-success">Cancel</a> <!-- Cancel -->
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
