{% extends 'base.html' %}
{% load static %}
{% block content %}
<div style="direction: rtl;" class="wrapper">

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper p-5">
        <!-- Content Header (Page header) -->
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Revenues</h1>
            </div>
            <div class="col-sm-6 text-left">
                <a href="{% url 'revenue_add' %}" class="btn btn-primary" style="margin-bottom: 20px;">+ Add New Revenue</a>
            </div>
        </div>
        <!-- Main content -->
        <section class="content">
            <!-- Default box -->
            <div class="card card-solid">
                <div class="card-body pb-0">
                    <!-- Buttons for filtering revenues -->
                    <div class="d-flex justify-content-between mb-3">
                    </div>

                    <!-- Revenue Cards -->
                    <div class="row d-flex align-items-stretch">
                        {% for revenue in revenues %}
                        <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch revenue{{ revenue.id }}">
                            <div class="card bg-light">
                                <div class="card-header text-muted border-bottom-0">
                                    Revenue
                                </div>
                                <div class="card-body pt-0">
                                    <div class="row">
                                        <div class="col-7">
                                            <h2 class="lead"><b>{{ revenue.revenue_type }}</b></h2>
                                            <ul class="fa-ul text-muted">
                                                <li class="small"><span class="fa-li"></span>Amount: {{ revenue.amount }}</li>
                                                <li class="small"><span class="fa-li"></span>Date: {{ revenue.date }}</li>
                                                <li class="small"><span class="fa-li"></span>Member: {{ revenue.member.first_name }} {{ revenue.member.last_name }}</li>
                                                {% if revenue.product_name %}
                                                <li class="small"><span class="fa-li"></span>Product Name: {{ revenue.product_name }}</li>
                                                <li class="small"><span class="fa-li"></span>Quantity: {{ revenue.quantity }}</li>
                                                {% endif %}
                                            </ul>
                                        </div>
                                        <div class="col-5 text-center">
                                            <i class="fas fa-dollar-sign" style="font-size: 60px;"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="text-right">
                                        <a href="{% url 'revenue_detail' revenue.id %}" class="btn btn-sm btn-primary">
                                            <i class="fas fa-book"></i> View Details
                                        </a>
                                        <a href="{% url 'update_revenue' id=revenue.id %}" class="btn btn-sm btn-warning" style="margin-top: 5px;">
                                            <i class="fas fa-edit"></i> Update
                                        </a>
                                        <a href="{% url 'delete_revenue' id=revenue.id %}" class="btn btn-sm btn-danger" style="margin-top: 5px;">
                                            <i class="fas fa-edit"></i> Delete
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% empty %}
                        <div class="col-12">
                            <div class="alert alert-warning">
                                No revenue records available currently.
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
{% endblock %}
